@import "variables.less";
@import "mixins.less";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital@0;1&display=swap');

body {
    margin: 0;
}
.container {
    width: @width-site;
    margin: 0 auto;
}
.header {
    width: 100%;
    background: linear-gradient(rgba(17, 17, 17, 0.7), rgba(17, 17, 17, 0.7)), url("../img/header-background.jpg");
    &-menu {
        display: flex;
        justify-content: center;
        &-logo {
            margin: 40px 0 0 0;
            text-decoration: none;
            display: flex;
            align-items: center;
            &-text {
                color: #ffffff;
                font-family: Raleway;
                font-size: 34px;
                font-weight: 400;
                letter-spacing: -1.36px;
                line-height: 34px;
            }
        }
        &-nav {
            display: flex;
            align-items: center;
            margin: 55px 0 0 219px;
            &-item {
                list-style-type: none;
                color: #ffffff;
                font-family: Montserrat;
                font-size: 14px;
                font-weight: 300;
                padding: 0 30px 0 0;
                outline: none;
                text-decoration: none;
            }
            &-item:last-child {
                padding: 0;
            }
            &-item:hover {
                color: #c7b299;
                cursor: pointer;
            }
            &-item:active {
                color: #fff;
            }
            &-basket {
                padding: 0;
                background: none;
                border: none;
                outline: none;
                margin: 0 0 0 33px;
            }
            &-basket svg {
                fill: #fff;
            }
            &-basket:hover svg {
                fill: #c7b299;
                cursor: pointer;
            }
            &-basket:active svg {
                fill: #fff;
            }
            &-form {
                width: 24px;
                height: 24px;
                margin: 0 0 0 28px;
                position: relative;
                &-label {
                    display: block;
                    width: 24px;
                    height: 24px;
                    background-image: url('../img/icon-search.svg');
                    background-size: cover;
                    background-repeat: no-repeat;
                    background-color: transparent;
                }
                &-search {
                    width: 0;
                    min-height: 0;
                    padding: 5px;
                    outline: none;
                    box-sizing: border-box;
                    background-color: transparent;
                    border: none;
                    position: absolute;
                    top: 40px;
                    left: -119px;
                    color: #fff;
                    font-size: 16px;
                    font-family: Arial;
                    text-transform: capitalize;
                }
                &-label:hover {
                    cursor: pointer;
                    background-image: url('../img/icon-search-select.svg');
                }
                &-search:focus {
                    width: 150px;
                    min-height: 20px;
                    transition: width 1s ease;
                    border: 2px solid #fff;
                    border-radius: 3px;
                }
            }
        }
    }
    &-caroucel {
        width: 100%;
        min-height: 931px; 
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        position: relative;
        &-left {
            display: block;
            width: 40px;
            height: 73px;
            position: relative;
            margin: 0 0px 0 150px;
        }
        &-left:after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
            transform: rotate(225deg);
            position: absolute;
            top: 10px;
            left: 0px;
        }
        &-left:hover:after {
            border-top: 2px solid orange;
            border-right: 2px solid orange;
        }
        &-left:active:after {
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
        }

        &-body {
            margin: 0 auto;
            text-align: center;
            width: 40%;
            &-h2 {
                display: block;
                color: #ffffff;
                font-family: Raleway;
                font-size: 36px;
                font-weight: 500;
            }
            &-h1 {
                display: block;
                color: #ffffff;
                font-family: "Raleway";
                font-size: 52px;
                font-weight: 600;  
            }
            &-p {
                display: block;
                color: #ffffff;
                font-family: Montserrat;
                font-size: 16px;
                font-weight: 300;
                line-height: 24px;
            }
            &-button {
                margin: 0 auto;
                display: block;
                border: none;
                width: 170px;
                outline: none;
                text-decoration: none;
                box-shadow: inset 0 -3px 0 #736357;
                border-radius: 3px;
                background-color: #998675;
                padding: 21px 0 21px 0;
                &-caption {
                    color: #fff;
                    font-family: "Raleway";
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 14px;
                    text-transform: uppercase; 
                }
                &:hover {
                    box-shadow: inset 0 -3px 0 #fff;
                }
                &:active {
                    box-shadow: inset 0 -3px 0 #736357;
                }
            }

        }
        &-right {
            width: 40px;
            height: 73px;
            position: relative;
            margin: 0 150px 0 0;
        }
        &-right:after {
            content: "";
            display: inline-block;
            width: 52px;
            height: 52px;
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
            transform: rotate(45deg);
            position: absolute;
            top: 10px;
            left: 0px;
        }
        &-right:hover:after {
            border-top: 2px solid orange;
            border-right: 2px solid orange;
        }
        &-right:active:after {
            border-top: 2px solid #d3c1ad;
            border-right: 2px solid #d3c1ad;
        }
        &-pagination {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100px;
            padding: 5px 0 40px 0;
            position: absolute;
            bottom: 0;
            margin: auto;
            &-item {
                display: block;
                width: 10px;
                height: 10px;
                margin: 0 5px;
                border-radius: 50%;
                background-color:#d3c1ad;
                &-active {
                    background: none;
                    border: 1px solid #d3c1ad;
                    cursor: default;
                }
                &:hover {
                    background: none;
                    border: 1px solid #d3c1ad;
                }
            }
        }
        
    }
}
.services {
    width: 100%;
    padding: 80px 0 80px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    &-item {
        width: 266px;
        text-align: center;
        margin-right: 33px;

        &-image {
            margin: 0 auto;
            display: block;
            fill: #555;
            height: 50px;
        }
        &-name {
            display: block;
            color: #555555;
            font-family: "Raleway";
            font-size: 22px;
            font-weight: 600;
            margin: 30px 0 0 0;
        }
        &-p {
            color: #8c8c8c;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 24px;
            margin: 19px 0 30px 0;
        }
        &:after {
            content: "";
            display: block;
            width: 70px;
            height: 3px;
            background-color: #f1eee9;
            margin: 0 auto;
            align-self: flex-end;
        }
        &:hover {
            cursor: pointer;
        }
        &:hover &-image {
            fill: #c7b299;
        }
        &:hover &-name {
            color: #c7b299;
        }
        &:hover:after {
            background-color: #c7b299;
        }
    }
    &-item:last-child {
        margin: 0;
    }
}
.ideas {
    width: 100%;
    background-color: #fbfaf8;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background-image: url("../img/backgroung-ideas.png");
    background-position: center bottom;
    background-repeat: no-repeat;
    &-head {
        margin: 83px 0 0 0;
        width: 100%;
        color: #555555;
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 600;
    }
    &-p {
        margin: 24px 0 522px 0;
        width: 756px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
    }

}
.reklama {
    padding: 48px 0 48px 0;
    width: 100%;
    background-color: #f4f5f8;
    background-image: linear-gradient(to right, #211b19 0%, #4e3427 100%);
    display: flex;
    justify-content: center;
    &-text {
        margin: 0 470px 0 0;
    }
    &-h2 {
        color: #ffffff;
        font-family: Raleway;
        font-size: 28px;
        font-weight: 400;
        margin: 0;
        &-color {
            color: #c7b299;
        }
    }
    &-p {
        color: #615855;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 300;
        margin: 0;
    }
    &-button {
        display: block;
        width: 170px;
        margin: 0;
        box-shadow: inset 0 -3px 0 #736357;
        border-radius: 3px;
        background-color: #998675;
        padding: 20px 0 20px 0;
        text-align: center;
        text-decoration: none;
        &-text {
            color: #ffffff;
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 600;
            line-height: 23px;
            text-transform: uppercase;

        }
    }
    &-button:hover {
        box-shadow: inset 0 -3px 0 #fff;
    }
    &-button:active {
        box-shadow: inset 0 -3px 0 #736357;
    }
}
.latest {
    background-color: #ffffff;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &-h {
        margin: 81px 0 0 0;
        width: 100%;
        color: #555555;
        font-family: "Raleway";
        font-size: 30px;
        font-weight: 600;
        text-align: center;
    }
    &-p {
        width: 100%;
        margin: 24px 580px 0 580px;
        color: #8c8c8c;
        font-family: Montserrat;
        font-size: 16px;
        font-weight: 300;
        line-height: 28px;
        text-align: center;
    }
    &-button-group {
        width: 100%;
        margin: 40px 0 40px 0;
        text-align: center;
        &-button {
            min-width: 70px;
            margin: 0 10px 0 0;
            border-radius: 3px;
            border: 1px solid #ebebeb;
            background-color: transparent;
            padding: 10px 21px 10px 21px;
            color: #8c8c8c;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 21px;
            outline: none;
        }
        &-button:last-child {
            margin: 0;
        }
        &-button:hover {
            cursor: pointer;
            background-color: #998675;
            color: #ffffff;
        }
        &-button:active {
            background-color: transparent;
            color: #8c8c8c;
        }
    }
    &-project {
        text-decoration: none;
        margin: 0 30px 30px 0;
        width: 370px;
        padding: 0;
        // flex: 30%;
        // max-width: 30%;
        position: relative;
        &-image {
           margin: 0;
        }
        &-text {
            width: 340px;
            margin: -5px 0 0 0;
            background-color: #fbfaf8;
            padding: 30px 0 27px 30px;
            position: relative;
        }
        &-text:before {
            content: "";
            display: block;
            border-style: solid;
            border-width: 0 15px 10px 15px;
            border-color: transparent transparent #fbfaf8 transparent;
            position: absolute;
            top: -10px;
            left: 19px;
        }
        &-head {
            display: block;
            width: 100%;
            color: #c7b299;
            font-family: Raleway;
            font-size: 20px;
            font-weight: 500;
            margin: 0;
        }
        &-work {
            display: block;
            width: 100%;
            color: #d1d1d1;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 300;
            line-height: 20px;
            margin: 14px 0 0 0;
        }
        &-link, &-search {
            width: 26px;
            height: 26px;
            display: none;
            -webkit-background-size: cover;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border: none;
            background-color: transparent;
            position: absolute;
            top: 35%;
            padding: 0;
        }
        &-link {
            cursor: pointer;
            background-image: url(../img/link.svg);
            left: 40%;
            &:hover {
                background-image: url(../img/link-select.svg);
            }
            &:active {
                background-image: url(../img/link.svg);
            }
        }
        &-search {
            background-image: url(../img/lupa.svg);
            right: 40%;
            &:hover {
                cursor: pointer;
                background-image: url(../img/lupa-select.svg);
            }
            &:active {
                background-image: url(../img/lupa.svg);
            }
        }


    }
    &-project:hover &-project-text {
        background-color: #362f2d;
    }
    &-project:hover &-project-text:before {
        content: "";
        display: block;
        border-style: solid;
        border-width: 0 15px 10px 15px;
        border-color: transparent transparent #362f2d transparent;
        position: absolute;
        top: -10px;
        left: 19px;
    }
    &-project:hover &-project-head {
        color: #ffffff;
    }
    &-project:hover &-project-work {
        color: #c7b299;
    }
    &-project:hover &-project-image {
        filter: brightness(20%);
    }
    &-project:hover &-project-link {
        display: block;
    }
    &-project:hover &-project-search {
        display: block;
    }
    
    &-break {
        width: 100%;
    }
    &-button {
        border: none;
        display: block;
        width: 170px;
        height: 50px;
        box-shadow: inset 0 -3px 0 #736357;
        border-radius: 3px;
        background-color: #998675;
        //margin-left: 876px;
        outline: none;
        &-text {
            color: #ffffff;
            font-family: "Raleway";
            font-size: 14px;
            font-weight: 600;
            line-height: 23px;
            text-transform: uppercase;
        }
        
    }
    &-button:hover {
        cursor: pointer;
        box-shadow: inset 0 -3px 0 #ffffff;
    }
    &-button:active {
        cursor: pointer;
        box-shadow: inset 0 -3px 0 #736357;
    }   
}